<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tourism Webapp website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Navbar.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="{{url_for('static', filename='css/loginlogouticon.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/loginlogouticon.css')}}">
  </head>

    <!-- navbar start -->
    {% include 'navbar.html' %}
  <!-- navbar end -->


    <!-- jumbotron start -->
    <div class="container my-3">
        <div class="p-5 text-center bg-body-tertiary rounded-3">
          <svg class="bi mt-4 mb-3" style="color: var(--bs-indigo);" width="100" height="100"><use xlink:href="#bootstrap"></use></svg>
          <h1 class="text-body-emphasis">Contact with Us</h1>
          <p class="col-lg-8 mx-auto fs-5 text-muted text-center">
            Hi!, You are successfully submitted your response <br>
            Thanks for using our website...
          </p>
          <div class="d-inline-flex gap-2 mb-5">
          <a href="/login"  <button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">
              Login
              <svg class="bi ms-2" width="24" height="24"><use xlink:href="#arrow-right-short"></use></svg>
            </button>
        </a>
          <a href="/"  <button class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">
              HomePage
            </button>
        </a>
          </div>
        </div>
      </div>
      <!-- end of jumbotron -->



      <!-- footer start -->
      {% include 'footer.html' %}
      <!-- footer end -->


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script>
      const LoginDetails = document.getElementById("LoginDetails")
      const loginDiv = document.getElementById("loginDiv")
      const loginmenu = document.getElementById("loginmenu")
      const Info_div = document.getElementById("info")
      const ul_info = document.getElementById("ulinfo")
      const liname = document.getElementById("liname")
      const liemail = document.getElementById("liemail")
      const li_logout = document.querySelector("#logout")
      console.log(li_logout);
    
      if('{{session.email}}')
      {
        console.log('{{session.email}}');
        LoginDetails.style.display = "flex";
        loginDiv.style.display = "flex";
        loginmenu.style.display= "none";
    
        liemail.innerText = '{{session.email}}'.replace('&#39','')
              ul_info.append(liemail)
    
        li_logout.innerHTML = "<a href='{{ url_for('login')}}' class='btn btn-light' id='logoutBtn'>Logout</a>"
        ul_info.appendChild(li_logout);
        let toggleValue = 1
            loginDiv.addEventListener("click",()=>{
      
        });
    
    
        loginDiv.addEventListener("click",()=>{
          console.log("hello");
          if (toggleValue){
              Info_div.style.display = "flex";
              Info_div.classList.add("info")
              // const a = document.createElement("a")
              toggleValue = 0 
            } 
            else{
              Info_div.style.display ="none"; 
              toggleValue = 1
            } 
          
        })
      }
    </script>
</html>